body{
  background-color:rgb(214, 214, 214) ;
}
.card{
  margin: 0 auto;
  width: 1000px;
  background-color:white ;
  padding: 20px 100px;
  box-sizing: border-box;

}
p{
  font-size:17px;
}
img{
  width: 500px;
  height: auto;
}
